<div class="ventas-container">
    <h2>Todas las ventas</h2>
    <table mat-table [dataSource]="SaleDataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="numVenta">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.numVenta}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef> Nombres </th>
            <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef> Fecha de Venta </th>
            <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
        </ng-container>

        <ng-container matColumnDef="detalle">
            <th mat-header-cell *matHeaderCellDef> Detalle </th> 
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="changeDetalle(element.detalle)">Ver Detalle</button>
            </td>
        </ng-container>
        <!-- <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Teléfono </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="SaleDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: SaleDisplayedColumns;"></tr>
    </table>
</div>

<div class="overlay" *ngIf="popup">
    <div class="popup">
        <h2>Detalles de la venta</h2>
        <a class="close" (click)="popup = false">&times;</a>
        <div class="content">
            <table mat-table [dataSource]="ProductDataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
        
                <!-- Position Column -->
                <ng-container matColumnDef="numProd">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.numProd}} </td>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef> Codigo </th>
                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>
        
                <!-- Weight Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
        
                <!-- Symbol Column -->
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </ng-container>
        
                <!-- <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                  </ng-container> -->
        
                <tr mat-header-row *matHeaderRowDef="ProductDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: ProductDisplayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>