
<mat-grid-list cols="4" rowHeight="2:4">
    <mat-grid-tile>
        <app-product-card id={{products.id}} name={{products.name}} description={{products.description}}
            extension={{products.extension}} price={{products.price}} stock={{products.stock}}>
        </app-product-card>
    </mat-grid-tile>
</mat-grid-list>


<!-- <mat-card class="product-card">
    <mat-card-header>
        <mat-card-title class="product-card__title">
            {{name}}
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{imgSrc}} alt={{name}} />
    <mat-card-content>
        <p>{{description}}</p>
        <h2 class="product-card__price">Precio: ${{price}}</h2>
        <div class="product-card__counter">
            <app-product-counter id={{id}}></app-product-counter>
        </div>
    </mat-card-content>
</mat-card> -->