<div class="modificar-producto-container">
    <h1 class="title">Modificar Producto</h1>
    <div class="content">
        <div class="container">
            <div class="search-input">
                <mat-form-field class="code" appearance="fill">
                    <mat-label>Código</mat-label>
                    <input type="number" matInput placeholder="" [(ngModel)]="code" [disabled]="this.isFound">
                </mat-form-field>
                <div class="btn-wrapper">
                    <button mat-mini-fab class="search-btn" (click)="search()" color="primary" [disabled]="this.isFound">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.name" [disabled]="!this.isFound">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea matInput [(ngModel)]="data.description" [disabled]="!this.isFound"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Marca</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.brand" [disabled]="!this.isFound">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Inventario</mat-label>
                <input type="number" matInput placeholder="" [(ngModel)]="data.stock" [disabled]="!this.isFound">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Precio unitario</mat-label>
                <input type="number" matInput placeholder="" [(ngModel)]="data.price" [disabled]="!this.isFound">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Categoría(s)</mat-label>
                <input matInput placeholder="" [(ngModel)]="categories" [disabled]="!this.isFound">
            </mat-form-field>
        </div>
        <div class="image-container">
            <div class="file-container__image"><img src="{{url}}" alt=""></div>
            <form class="form">
                <button mat-raised-button color="primary" (click)="openFileBrowser($event)" [disabled]="!this.isFound" class="btn-upload">
                    <mat-icon>add_photo_alternate</mat-icon>
                    Subir Imagen
                </button>
                <input type="file" id="fileupload" (change)="selectFile($event)" class="input--hidden">
            </form>
        </div>
    </div>
    <div class="btn__container">
        <button mat-raised-button color="primary" (click)="clearData()" class="btn-submit">Cancelar</button>
        <button mat-raised-button color="primary" (click)="submitData()" class="btn-submit">Guardar Cambios</button>
    </div>
</div>