.title {
    font-weight: bold;
}

.agregar-producto-container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: space-around;
}

img {
    height: 500px;
    width: 500px;
}

.image-container {
    flex-direction: column;
    width: 45%;
}

.file-container {
    margin-bottom: 5%;
}

.container {
    width: 45%;
}

.container .mat-form-field {
    width: 100%;
}