<div class="agregar-producto-container">
    <h1>Agregar Producto</h1>
    <div class="content">
        <div class="container">
            <app-input [input]="'Código'" ></app-input>
            <app-input [input]="'Nombre'" ></app-input>
            <app-textarea [label]="'Descripción'" ></app-textarea>
            <app-input [input]="'Marca'" ></app-input>
            <app-input [input]="'Inventario'" ></app-input>
            <app-input [input]="'Precio unitario en Bs.'" ></app-input>
            <app-input [input]="'Categoría(s)'" ></app-input>
        </div>
        <div class="image-container">
            <div class="file-container">
                <img src="{{url}}" alt="">
                <input type="file" (change)="selectFile($event)">
            </div>
        </div>
    </div>
    <app-button class="agregar-producto--button" [name]="'Enviar'"></app-button>
</div>
