<div class="agregar-contacto-container">
    <h2>Agregar Contacto</h2>
    <div class="form-container">
        <div class="form-column">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.name">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.lastName">
            </mat-form-field>
        </div>
        <div class="form-column">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>C.I.</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.ci">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Teléfono</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.phone">
            </mat-form-field>
        </div>
    </div>

    <div class="form-container">
        <div class="form-column">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.email">
            </mat-form-field>
        </div>
    </div>

    <div class="form-container">
        <div class="form-column">
            <button mat-raised-button (click)="clear()" color="primary">Limpiar</button>
        </div>
        <div class="form-column">
            <button mat-raised-button (click)="submitData()" color="primary">Enviar</button>
        </div>
    </div>
</div>
