.product-card {
    height: 900px !important;
    margin-bottom: 8px;
}

.product-card__title {
    text-align: center;
}

.product-card__price {
    text-align: center;
}

.product-card__counter {
    text-align: center;
}


.img-wrapper {
    height: 25% !important;
}

img {
    height: 200px;
}
