<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title class="product-card__title">
            {{name}}
        </mat-card-title>
    </mat-card-header>
    <div class="img-wrapper">
        <img mat-card-image src={{extension}} alt={{name}} />
        <mat-card-content>
            <h2 style="text-align:center;">Codigo: {{code}}</h2>
            <h4 style="text-align:center; font-size:20px;">{{brand}}</h4>
            <h2 class="product-card__price">Precio: {{price}} Bs.</h2>
            <h3 style="text-align:center; color: purple;">{{availability}}</h3>
            <div class="product-card__counter">
                <app-product-counter id={{id}}></app-product-counter>
            </div>
        </mat-card-content>
    </div>
</mat-card>