<div class="eliminar-contacto-container">
    <h2>Eliminar Contacto</h2>
    <div class="eliminar-contacto-search">
        <app-input [input]="'CI'" [value]="'124455'"></app-input>
        <button mat-mini-fab color="primary" >
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <h2>Datos del Contacto</h2>
    <div class="eliminar-contacto-information-container">

        <div class="eliminar-contacto-information">
            <div class="contacto-information">
                <app-input [input]="'CI'" [value]="'124455'"></app-input>
                <div class="contacto-information-column">
                    <app-input [input]="'Nombres'" [value]="'124455'"></app-input>
                    <app-input [input]="'Teléfonno'" [value]="'7784123'"></app-input>
                </div>
                <div class="contacto-information-column">
                    <app-input [input]="'Apellidos'" [value]="'Perez'"></app-input>
                    <app-input [input]="'Correo Electrónico'" [value]="'email@gmail.com'"></app-input>
                </div>
                <div class="elimination-container">
                    <div class="btn-mo">
                        <app-button [name]="'Eliminar'"></app-button>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
