<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Ferreteria UCB</h1>
        <span class="menu-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <div style="width:230px; padding:20px;">
                <h2>Ventas</h2>
                <a mat-button [routerLink]="'/ventas'">Todas las ventas</a> <br>
                <a mat-button [routerLink]="'/ventas/nueva'">Nueva venta</a><br>
                <a mat-button [routerLink]="'/ventas/detalle'">Detalle de venta</a> <br>


                <h2>Productos</h2>
                <a mat-button [routerLink]="'/productos/agregar'">Agregar Prducto</a> <br>
                <a mat-button [routerLink]="'/productos/eliminar'">Eliminar Producto</a><br>
                <a mat-button [routerLink]="'/productos/modificar'">Modificar Productos</a> <br>

                <h2>Contactos</h2>
                <a mat-button [routerLink]="'/contactos/todos'">Todos los Contactos</a> <br>
                <a mat-button [routerLink]="'/contactos/agregar'">Agregar Contacto</a> <br>
                <a mat-button [routerLink]="'/contactos/eliminar'">Eliminar Contacto</a><br>
                <a mat-button [routerLink]="'/contactos/modificar'">Modificar Contactos</a> <br>

            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 100vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>